/* Footer */

#footer {
    padding: 20px;
    background-color: #797979;
}

#footer h2 {
    color: #fff;
    font-size: 14px;
}

.bottom {
    float: right;
    font-size: 10px;
}

.bottom a {
    color: #b08b00;
    line-height: 20px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}
