/* Test Box */

#test_box-container {
    float: left;
    width: 100%;
    color: #fff;
}

.ui-tabs-nav {
    height: 29px;
    line-height: 29px;
    
    li {
        float: left;
        height: 28px;
        margin: 0 1px 1px 0;
        background-color: #2a2a2a;
    
        // Hide label on mobile
        
        &.ui-tabs-selected {
            margin: 0 1px 0 0;
            height: inherit;
            background-color: #292929;
            
            a {
                padding-left: 20px;
            }
        }
    
        @media #{$mobileMediaQuery} {
            &:not(.ui-tabs-selected) {
                    color: transparent;
                    font-size: 0;
                a {
                    padding: 0 0 0 10px;
                }
            }
        }
        
    
        a {
            display: block;
            height: inherit;
            color: #fff;
            padding: 0 20px 0 32px;
            text-decoration: none;
            font-weight: bold;
            background: no-repeat 8px 6px;
            
            &:before {
                content: "";
                float: left;
                width: 16px;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                margin-right: 12px;
            }
        }
    
        &.analytical_review a:before {
            background-image: url(/images/test_box-container-ui-tabs-nav-li-analytical_review-a-bkg.png);
        }
        
        &.visual_comparison a:before  {
            background-image: url(/images/test_box-container-ui-tabs-nav-li-visual_comparison-a-bkg.png);
        }
        
        &.mobile_test a:before  {
            background-image: url(/images/miniphonelogo.png);
        }
        
        &.traceroute a:before  {
            background-image: url(/images/traceroute.png);
        }
    }
}

.test_box.ui-tabs-hide {
    display: none;
}

.test_box {
    clear: both;
    padding: 20px;
    background-color: #292929;
    
    label {
        display: block;
        width: 150px;
        margin-right: 20px;
        line-height: 1.2em;
        font-weight: bold;
    
        @media #{$tabletPortraitMediaQuery} {
            width: 100%;
        }
    
        &.auto_width {
            width: auto;
        }
    
        &.full_width {
            float: none;
            width: auto;
        }
        
        &.inline {
            float: none;
            display: inline;
        }
    
        small {
            font-weight: normal;
        }
    }
    
    input {
        &.text {
            width: 100%;
            max-width: 350px;
            height: 22px;
            padding: 0 5px;
            background-color: #fff;
            border: 1px solid #bbb;
            
            &.large {
                width: 100%;
                max-width: 680px;
                height: 33px;
                padding: 0 10px;
                font-size: 18px;
                font-weight: bold;
                border: none;
            }
            &.short {
                width: 40px;
            }
        }
        
        &.before_label {
            float: left;
            width: auto;
        }
    }
    
    select {
        width: 100%;
        max-width: 380px;
    }
    
}

.input_fields {
    overflow: hidden;
    margin: 0;
}

.input_fields li {
    overflow: hidden;
    margin: 0 0 20px;
    vertical-align: middle;
}