/* Test Box */

#test_box-container {
    float: left;
    width: 709px;
    color: #fff;
}

#test_box-container .ui-tabs-nav {
    height: 29px;
    line-height: 29px;
}

#test_box-container .ui-tabs-nav li {
    float: left;
    height: 28px;
    margin: 0 1px 1px 0;
    background-color: #2a2a2a;
}

#test_box-container .ui-tabs-nav li.ui-tabs-selected {
    margin: 0 1px 0 0;
    height: inherit;
    background-color: #292929;
}

#test_box-container .ui-tabs-nav li a {
    display: block;
    height: inherit;
    color: #fff;
    padding: 0 20px 0 32px;
    text-decoration: none;
    font-weight: bold;
    background: no-repeat 8px 6px;
}

#test_box-container .ui-tabs-nav li.analytical_review a {
    background-image: url(/images/test_box-container-ui-tabs-nav-li-analytical_review-a-bkg.png);
}

#test_box-container .ui-tabs-nav li.visual_comparison a {
    background-image: url(/images/test_box-container-ui-tabs-nav-li-visual_comparison-a-bkg.png);
}

#test_box-container .ui-tabs-nav li.mobile_test a {
    background-image: url(/images/miniphonelogo.png);
}

#test_box-container .ui-tabs-nav li.traceroute a {
    background-image: url(/images/traceroute.png);
}

.test_box.ui-tabs-hide {
    display: none;
}

.test_box {
    clear: both;
    padding: 20px;
    background-color: #292929;
}

.input_fields {
    overflow: hidden;
    margin: 0;
}

.input_fields li {
    overflow: hidden;
    margin: 0 0 20px;
    vertical-align: middle;
}

.test_box label {
    float: left;
    display: block;
    width: 150px;
    margin-right: 20px;
    line-height: 1.2em;
    font-weight: bold;
}

.test_box label small {
    font-weight: normal;
}

.test_box label.auto_width {
    width: auto;
}

.test_box label.full_width {
    float: none;
    width: auto;
}

.test_box label.inline {
    float: none;
    display: inline;
}

.test_box input.text {
    width: 350px;
    height: 22px;
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #bbb;
}

.test_box input.text.large {
    width: 680px;
    height: 33px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.test_box input.text.short {
    width: 40px;
}

.test_box input.before_label {
    float: left;
    width: auto;
}

.test_box select {
    width: 380px;
}