/* Test Sub-box */

#test_subbox-container {
    color: #222;
}

#test_subbox-container .ui-tabs-nav {
    height: 29px;
    line-height: 29px;
}

#test_subbox-container .ui-tabs-nav li {    
    float: left;
    height: 28px;
    margin: 0 1px 1px 0;
    padding: 0 5px;
    background-color: #bbb;
    cursor: pointer;
}

#test_subbox-container .ui-tabs-nav li.active {
    margin: 0 1px 0 0;
    height: inherit;
    background-color: #eee;
}

#test_subbox-container .ui-tabs-nav li a {
    display: block;
    height: inherit;
    color: #444;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}


.test_subbox {
    overflow: hidden;
    padding: 20px;
    background-color: #eee;
    border-bottom: 1px solid $lightgrey;

    @media #{$mobileMediaQuery} {
        padding: 15px;
    }
}

.test_subbox.ui-tabs-hide {
    display: none;
}
