// Breakpoints
$lg: '1000px';
$md: '768px';
$sm: '568px';

// Media queries
$tabletLandscapeMediaQuery: 'only screen and (max-width: #{$lg})';
$tabletPortraitMediaQuery: 'only screen and (max-width: #{$sm})';
$mobileMediaQuery: 'only screen and (max-width: #{$sm})';